.header-bg {
    background-color: var(--cor-12);
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

nav .links {
    display: flex;
    gap: 40px;
}
.header .links a {
    padding: 16px 0;
    display: inline-block;
    color: var(--w);
    font-size: 18px;
    position: relative;
}
.header .links a::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--cor-0);
    margin-top: 4px;
    transition: 0.3s;
}
.header .links a:hover::after,
.header .links a.ativo::after {
    width: 100%;
}
@media  ( max-width: 800px ) {
    .header {
        justify-content: center;
        gap:20px;
    }
    .logo {
        padding-top: 0;
        display: flex;
        place-items: center;
        place-content: center;
        width: 100%;
    }
    .header .links a:hover::after {
        width: 0;
    }
    .header .links a { 
        background-color: var(--cor-5);
        color: var(--cor-12);
        margin-top: 20px;
        border-radius: 4px;
        display: block;
        padding:  10px 20px;
    }
    
}

@media(max-width:480px){
    .header .links a { 
        background-color: var(--cor-5);
        color: var(--cor-12);
        border-radius: 4px;
        display: block;
        padding:  10px;
    }
    nav .links {
        display: flex;
        gap: 10px;
    }
}
@media (max-width:320px) {
    .header .links a {
        padding: 5px;
        font-size: 0.85rem;
    }
}