.parceiros {
    padding-top: 60px;
    padding-bottom: 120px;
    max-width: calc( var(--container-width) + 200px );
    margin: 0 auto;
}
.parceiros h2{
    margin-bottom: 60px;
}
.parceiros ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
    display: flex;
    padding: 32px;
    border-left: 2px solid var(--cor-2);
}

 .parceiros li:nth-child(5),
 .parceiros li:nth-child(1) {
     border-left: none;
 }
 .parceiros li:nth-child(n + 5){
     border-top: 2px solid var(--cor-2);
 }

.parceiros li img {
    margin: auto;
}

@media (max-width: 800px){
    .parceiros {
        padding-bottom: 60px;
    }
    .parceiros h2{
        margin-bottom: 30px;
    }
    .parceiros ul {
        grid-template-columns: 1fr 1fr;
    }
    .parceiros ul li:nth-child(2), .parceiros ul li:nth-child(1){
        border-bottom: 2px solid var(--cor-2);
    }
    .parceiros ul li:nth-child(odd) {
        border-left: none;
    }
}